template(name='Choose')
	.choose
		.col-xs-10.col-xs-offset-1.text-center
			button.btn.btn-default.col-xs-10.col-xs-offset-1
				| Play
		.col-xs-10.col-xs-offset-1.text-center
			button.btn.btn-default.col-xs-10.col-xs-offset-1
				| Study