template(name='Games')
	.games.text-center
		.form-group.col-xs-10.col-xs-offset-1
			select.form-control(id="game-name")
				each gamesList
					option(id="!{_id}")
						| !{this.name}
		.form-group.col-xs-10.col-xs-offset-1
			select.form-control(id="game-variant")
				each selectedGame
					option(id="!{_id}")
						| !{this.variant}