/*****************************************************************************/
/* NewExpense: Style */
/*****************************************************************************/
.new-expense {


	height: calc(100% - 56px);

	/*
	background-color: black;

	input, select, .input-group-addon {
		background-color: rgb(30,30,30);
		border-color: rgb(50,50,50);
		color: rgb(100,100,100);
	}
	
	.input-group-btn span {
		background-color: rgb(100,100,100);
		border-color: rgb(120,120,120);
	}
	*/

	.no-gutter {
		padding: 0;
	}
	.date {
		margin-bottom: 10px;
	}
	.btn-file {
	    position: relative;
	    overflow: hidden;
	}
	.btn-file input[type=file] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    min-width: 100%;
	    min-height: 100%;
	    font-size: 100px;
	    text-align: right;
	    filter: alpha(opacity=0);
	    opacity: 0;
	    outline: none;
	    background: white;
	    cursor: inherit;
	    display: block;
	}

	#img-upload{
	    width: 100%;
	    max-height: 150px;
	}
}

/*
.datepicker-dropdown {
		background-color: rgb(50,50,50) !important;
		color: white;
		border-color: rgb(80,80,80);
	}
*/