template(name='NewExpense')
	.new-expense.col-xs-12
		h4.text-center
			| New Expense
		.input-group.date
			input.form-control(type="text" id="datepicker")
			span.input-group-addon
				i.fa.fa-calendar
		.amount
			.form-group.col-xs-5.no-gutter
				select.form-control(id="method")
					option
						| Cash
					option
						| Card
					option
						| Comps
			.form-group.col-xs-5.col-xs-offset-2.no-gutter
				.input-group
					span.input-group-addon
						| $
					input.form-control(type="number" id="expense-amount" placeholder="Amount")
			.form-group.col-xs-12.no-gutter
				select.form-control(id="type")
					option
						| Lodging
					option
						| Gas & Travel
					option
						| Food & Snacks
			.form-group.col-xs-12.no-gutter
				input.form-control(type="text" placeholder="Comments" id="comments")
			.form-group
				.input-group
					span.input-group-btn
						span.btn.btn-primary.btn-file
							i.fa.fa-camera
							| Upload
							input(type="file" capture="camera" accept="image/*" id="imgInp" readonly)
					input.form-control(type="text" id="display-path")
				img(id="img-upload")
		a.btn.btn-default.col-xs-5(id="cancel-expense" href="{{pathFor route='profile'}}")
					| Cancel
		a.col-xs-5.col-xs-offset-2.btn.btn-default(id="submit-expense")
				| Submit