template(name='AddGame')
	.add-game
		.col-xs-10.col-xs-offset-1
			h2.text-center
				| Add Game
			.form-group
				label
					| Game Name:
				input.form-control(type="text" id="game-name")
			.form-group
				label
					| Variant:
				input.form-control(type="text" id="variant-name")
			.form-group
				label
					| Edge:
				input.form-control(type="number" id="edge")
			.form-group
				label
					| Variance:
				input.form-control(type="number" id="variance")
			.form-group
				label
					| Speed:
				input.form-control(type="number" id="speed")
			button.btn.btn-default.col-xs-5(id="cancel-game")
					| Cancel
			button.col-xs-5.col-xs-offset-2.btn.btn-default(id="submit-game")
					| Submit
