/*****************************************************************************/
/* Profile: Style */
/*****************************************************************************/
.profile {
	transform: translateZ(0);
	-webkit-backface-visibility: hidden !important;
	height: calc(100% - 56px);
	padding-top: 15px;
	h4 {
		color: grey;

	}
	h4.active {
		color: black;
		border-bottom: 2px solid black;
	}
	.navigator {
		height: calc(100% - 56px);
	}
}
