/*****************************************************************************/
/* Profile: Style */
/*****************************************************************************/
.profile {
	margin-top: 15px;
	h4 {
		color: grey;

	}
	h4.active {
		color: black;
		border-bottom: 2px solid black;
	}
}
