template(name='Profile')
	.profile(id="profile")
		.col-xs-4
			h4.sessions.text-center(class="{{activeTab 'sessions'}}")
				| Sessions
		.col-xs-4
			h4.stats.text-center(class="{{activeTab 'stats'}}")
				| Stats
		.col-xs-4
			h4.expenses.text-center(class="{{activeTab 'expenses'}}")
				| Expenses
		.navigator
			if profilePage 'sessions'
				+Sessions
			else if profilePage 'stats'
				+Stats
			else if profilePage 'expenses'
				+Expenses