/*****************************************************************************/
/* Register: Style */
/*****************************************************************************/
.register {
	.wrapper-security {

		margin-top: 25px;
		text-align: center;

		#security-code, {
			width: 50%;
			margin: 0 auto;
		}
		.btn-success {
			margin-top: 15px;
		}
	}
	.wrapper-signup {
		text-align: center;

		.form-control {
			width: 75%;
			margin: 0 auto;
		}
	}
}
