template(name='Register')
	.register
		.wrapper-signup
			form(id='signup-form' role='form')
				h2.page-header.text-center
					| Signup
				.form-group
					input.form-control(id='username' type='text' placeholder='Username')
				.form-group
					input.form-control(id='password' type='password' placeholder='Password')
				.form-group
					input.form-control(id='confirm-password' type='password' placeholder='Confirm Password')
				input.cancel.btn.btn-default.col-xs-4.col-xs-offset-1(value='Cancel')
				input.register.btn.btn-success.col-xs-4.col-xs-offset-2(type='submit' value='Register')
