template(name='Dealers')
	.dealers.col-xs-12
		.inputs.col-xs-11.no-gutter
			.form-group
				select.form-control(id="casino-name")
					option
						| Casino (Select One)
					each casinoList
						option
							| !{name}
				span.fa.fa-plus.new-casino
			.form-group
				select.form-control(id="dealer-name")
					option
						| Dealer (Select One)
					each dealerList
						option
							| !{name}
				span.fa.fa-plus.new-dealer
		if selectedDealer			
			.col-xs-12
				ul.list-group
					li.list-group-item.text-center
						a.view-dealer-profile
							| View Profile