template(name='Nav')
	.nav
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button")
						span.glyphicon.glyphicon-option-vertical
					a.navbar-brand
						| Avail
				ul.nav.navbar-nav.hidden
					li
						a.btn-resume(href="{{pathFor route='play'}}")
							span.glyphicon.glyphicon-play
							| Play
					li
						a.btn-resume
							span.fa.fa-book
							| Study
					li
						a.btn-resume(href="{{pathFor route='profile'}}")
							span.fa.fa-user
							| Profile
					li
						a.btn-resume
							span.fa.fa-dollar
							| Expense