template(name='Nav')
	.nav
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button")
						span.glyphicon.glyphicon-option-vertical
					a.navbar-brand
						| Avail
				ul.nav.navbar-nav.hidden
					if currentUser
						unless investorOnly
							li.col-xs-12
								a.play(href="{{pathFor route='Play'}}")
									span.glyphicon.glyphicon-play.col-xs-2
									| Play
							li.col-xs-12
								a.new-expense(href="{{pathFor route='NewExpense'}}")
									span.fa.fa-dollar.col-xs-2
									| Expense
							li.col-xs-12
								a(href="{{pathFor route='Dealers'}}")
									span.fa.fa-users.col-xs-2
									| Dealers
							li.col-xs-12
								a(href="{{pathFor route='Casinos'}}")
									span.fa.fa-bank.col-xs-2
									| Casinos
						li.col-xs-12
							a(href="{{pathFor route='Profile'}}")
								span.fa.fa-user.col-xs-2
								| Profile
						li.col-xs-12
							a(href="{{pathFor route='Settings'}}")
								span.glyphicon.glyphicon-cog.col-xs-2
								| Settings
						li.col-xs-12
							a.log-out
								span.glyphicon.glyphicon-log-out.col-xs-2
								| Log out
					else
						li.col-xs-12
							a.log-in(href="{{pathFor route='Login'}}")
								span.glyphicon.glyphicon-log-in.col-xs-2
								| Log in