template(name='Nav')
	.nav
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button")
						span.glyphicon.glyphicon-option-vertical
					a.navbar-brand
						| Avail
				ul.nav.navbar-nav.hidden
					li
						a.btn-resume
							span.glyphicon.glyphicon-play
							| Resume