template(name='Nav')
	.nav
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button")
						span.glyphicon.glyphicon-option-vertical
					a.navbar-brand
						| Avail
				ul.nav.navbar-nav.hidden
					if currentUser
						unless investor
							li
								a.btn-resume(href="{{pathFor route='Play'}}")
									span.glyphicon.glyphicon-play
									| Play
							li
								a.btn-resume(href="{{pathFor route='NewExpense'}}")
									span.fa.fa-dollar
									| Expense
						li
							a.btn-resume(href="{{pathFor route='Profile'}}")
								span.fa.fa-user
								| Profile
						li
							a.btn-resume(href="{{pathFor route='Settings'}}")
								span.glyphicon.glyphicon-cog
								| Settings
						li
							a.log-out
								span.glyphicon.glyphicon-log-out
								| Log out
					else
						li
							a.log-in(href="{{pathFor route='Login'}}")
								span.glyphicon.glyphicon-log-in
								| Log in