/*****************************************************************************/
/* Stats: Style */
/*****************************************************************************/
.stats {
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;

	.form-group {
		margin-bottom: 10px;
	}
	
	ul {
		list-style: none;
	}


	


	select.game-select {

	}

	.game-stats {

	}
	
	
}
