/*****************************************************************************/
/* Stats: Style */
/*****************************************************************************/
.stats {
	
	ul {
		list-style: none;
	}
	#playingStats {
		transform: translateZ(0);		
		width: 300px !important;
		height: 300px !important;
	}
	

}
