/*****************************************************************************/
/* Stats: Style */
/*****************************************************************************/
.stats {
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;

	.form-group {
		margin-bottom: 10px;
	}
	
	ul {
		list-style: none;
	}


	#playingStats {
		transform: translateZ(0);
		padding-left: 5px;		
		width: 95vw !important;
		height: 55vh !important;
	}


	select.game-select {

	}

	.game-stats {

	}
	
	.chart-container {
		padding: 0;
	}

}
