/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.home {
	.home-about {
		#email {
			width: calc(75% - 2px);
			float: left;
		}
		.btn-default {
			width: calc(25% - 2px);
		}
		.signup-login {
			text-align: center;
			font-size: 150%;
		}
	}
}