template(name='ChangePassword')
	.change-password
		.password-change-wrapper.col-xs-12
			.form-group
				label
					| Current password:
				input.form-control(type="password" id="password1" placeholder="Current password")
			.form-group
				label
					| Confirm current password:
				input.form-control(type="password" id="password2" placeholder="Current password")
			.form-group
				label
					| New password:
				input.form-control(type="password" id="new-password1" placeholder="New password")
			.form-group
				label
					| Confirm new password:
				input.form-control(type="password" id="new-password2" placeholder="New password")
			button.btn.btn-default.col-xs-5.cancel-password-change
				| Cancel
			button.btn.btn-default.col-xs-5.col-xs-offset-2.submit-password-change
				| Submit
