/*****************************************************************************/
/* Casinos: Style */
/*****************************************************************************/
.casinos {

	.no-gutter {
		padding: 0;
	}
	height: calc(100% - 56px);
	padding-top: 15px;

	span.fa-plus {
		color: green;
		font-size: 125%;
		padding: 10px;
		position: absolute;
		right: -35px;
		transform: translateY(-95%);
	}
	.dealer-tabs {
		text-align: center;
		padding: 0;
	}
}
