/*****************************************************************************/
/* DealerProfile: Style */
/*****************************************************************************/
.dealer-profile {

	.panel {
		margin-bottom: 5px;
		img.img-circle {
			max-height: 100px;
		}
		h4 {
			margin-top: 0;

		}
	}
	
}
