template(name='DealerProfile')
	.dealer-profile
		.col-xs-12.panel.text-center
			img(src="http://www.carderator.com/assets/avatar_placeholder_small.png").img-circle
			h4.text-center
				| !{casino} - !{name}
		.col-xs-12
			if editSchedule
				+EditDealerSchedule
			else
				ul.nav.nav-tabs.col-xs-12
					li.dealer-tabs(id="schedule").active
						a
							| Schedule
					li.dealer-tabs(id="sessions")
						a
							| Sessions
					li.dealer-tabs(id="details")
						a
							| Details
				if activeTab 'schedule'
					+DealerSchedule
				else if activeTab 'sessions'
					+DealerSessions
				else if activeTab 'details'
					+DealerDetails
