/*****************************************************************************/
/* DealerProfile: Style */
/*****************************************************************************/
.dealer-profile {
	height: calc(100% - 56px);
	overflow-y: scroll;

	.panel {
		margin-bottom: 5px;
		img.img-circle {
			max-height: 100px;
		}
		h4 {
			margin-top: 0;
			padding: 0;
			span {
				padding: 0;
			}

		}
	}
	.dealer-tabs {
		text-align: center;
		padding: 0;
	}
	
}
