template(name='DealerSchedule')
	.dealer-schedule.well.col-xs-12
		.list-group-item.col-xs-12.text-center
			a.edit-dealer-schedule
				span.fa.fa-edit
				| New Entry
		each dealerSchedule
			.list-group-item.col-xs-12.text-center
				span.pull-left
					| !{day}
				| !{start} - !{leave}
				span.pull-right.fa.fa-close

