/*****************************************************************************/
/* DealerSchedule: Style */
/*****************************************************************************/
.dealer-schedule {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;


		span.fa-close {
			color: darkred;
			font-size: 125%;
			padding: 2px;
		}
	
}
