/*****************************************************************************/
/* Login: Style */
/*****************************************************************************/
.login {
	text-align: center;

	.btn-success, .cancel {
		margin-top: 15px;
	}

	.form-control {
		width: 75%;
		margin: 0 auto;
	}

	.signup-login{
		font-size: 150%;
		.btn-login {
			text-align: start;
			border-left: 2px solid black;
		}
		.btn-register {
			text-align: end;
		}
	}
	.log-in {
		margin-top: 20px;
	}
}
