template(name='Login')
	.login
		if loginForm 'register'
			.col-xs-12
				.logo
					h3.text-center
						| New Account
				form.signup(autocomplete="off")
					.form-group.col-xs-12
						label
							| Username
						input.username.form-control(type="text" id="username" autocomplete="off" autofocus)
					.form-group.col-xs-12
						input.password.form-control(type="password" id="password" autocomplete="off" placeholder="New password")
					.form-group.col-xs-12
						input.confirm-password.form-control(type="password" id="confirm-password" autocomplete="off" placeholder="Confirm password")

					.form-buttons
						button.btn.btn-default.btn-signup.col-xs-12(type="submit")
							| CREATE ACCOUNT
					span.text-center.return-login
						| Already have account? Login here.
		else
			.col-xs-12
				.logo
					h2
						| Avail
				form.login(autocomplete="off")
					.form-group.col-xs-12
						label
							| Username
						input.username.form-control(type="text" id="username" autocomplete="off" autofocus)
					.form-group.col-xs-12
						input.password.form-control(type="password" id="password" autocomplete="off" placeholder="Password")

					.form-buttons
						button.btn.btn-default.btn-login.col-xs-12(type="submit")
							| LOGIN
					span.text-center.create-account
						| Create new account.
