template(name='Expenses')
	.expenses
		.container
			table.table.table-striped
				thead
					tr
						th.text-center
							| Date
						th.text-center
							| Type
						th.text-center
							| Amount
				tbody.text-center
					each userExpenses
						tr
							td
								| !{this.date}
							td
								| !{this.type}
							td
								| !{this.amount}