template(name='Play')
	.play.text-center
		if display 'details'
			.result.col-xs-12
				.inputs.col-xs-10.col-xs-offset-1
					.form-group
						input.form-control(id="bought" type="number" placeholder="bought in")
					.form-group
						input.form-control(id="colored" type="number" placeholder="colored up")
				+Games
				.inputs.col-xs-10.col-xs-offset-1
					.form-group
						input.form-control(id="denom" type="number" placeholder="denomination")
					if advancedAccount
						.form-group
							select.form-control(id="casino-name")
								option
									| (Select One)
								each casinoList
									option
										!{name}
							span.fa.fa-plus.new-casino
						.form-group
							select.form-control(id="dealer-name")
								option
									| (Select One)
								each dealerList
									option
										!{name}
							span.fa.fa-plus.new-dealer
			.buttons.col-xs-12
				button.btn.btn-default.cancel.col-xs-5
					| Cancel
				button.btn.btn-default.col-xs-5.col-xs-offset-2.submit
					| Done
		else if display 'play'
			.begin
				span.fa.fa-play.fa-5
		else if display 'stop'
			.complete
				span.fa.fa-stop.fa-5
		else if display 'error'
			+Incomplete
	//
		if display 'incomplete'
			.incomplete-session.col-xs-12
				p
					| Your last session was not properly completed. <br>
					| Do you wish to update it?
				button.btn.btn-default.remove-session.col-xs-5
					| Remove it
				button.btn.btn-default.update-session.col-xs-5.col-xs-offset-2
					| Update it
		else if display 'completed'
			.result.col-xs-12
				.inputs.col-xs-10.col-xs-offset-1
					.form-group
						input.form-control(id="bought" type="number" placeholder="bought in")
					.form-group
						input.form-control(id="colored" type="number" placeholder="colored up")
				+Games
				.inputs.col-xs-10.col-xs-offset-1
					.form-group
						input.form-control(id="denom" type="text" placeholder="denomination")
			.buttons.col-xs-12
				button.btn.btn-default.cancel.col-xs-5
					| Cancel
				button.btn.btn-default.col-xs-5.col-xs-offset-2.submit
					| Done
		else if display 'inactive'
			.begin
				span.fa.fa-play.fa-5
		else
			.complete
				span.fa.fa-stop.fa-5
			