/*****************************************************************************/
/* Play: Style */
/*****************************************************************************/
.play {
	height: calc(100% - 56px);
	//background-color: black;
	.incomplete-session {
		margin-top: 50px;

	}
	.result {
		margin-top: 15px;
		input {
			text-align: center;
		}
	}	

	.begin, .complete {
		//background-color: black;
		padding-top: 50%;
		height: 100%;
		font-size: 800%;
	}
	.buttons {
		margin-top: 25px;
	}
}
