/*****************************************************************************/
/* Play: Style */
/*****************************************************************************/
.play {
	height: calc(100% - 56px);
	//background-color: black;
	.incomplete-session {
		margin-top: 50px;
		

	}
	.result {
		margin-top: 15px;
		input {
			text-align: center;
			&.warning {
				border-color: #a94442;
			}
		}
	}	

	.begin, .complete {
		//background-color: black;
		padding-top: 50%;
		height: 100%;
		font-size: 800%;
		span {
			color: #e7e7e7;
		}
	}
	.buttons {
		margin-top: 25px;
	}
	.select-group {
		padding-left: 0;
		padding-right: 0;
	}
	span.fa-plus {
		color: green;
		font-size: 125%;
		padding: 10px;
		position: absolute;
		right: -20px;
		transform: translateY(-95%);
	}
	
}
